
<h1 class="m-3 p-3">Stupid Coaching</h1>

<div>
  <p class=><%= params[:question] %></p>
  <p class="pe-2">- You</p>
</div>

<div>
<p><%= @answer %></p>
<p>- Your coach</p>
</div>


<p class="m-2 p-2"><%= link_to 'Ask another question', '/ask' %></p>
