
  <form class="row justify-content-center" action="/answer" data-turbo="false" method="get">
    <input class="m-2 p-2 form-control w-50" type="text" name="question">
    <input class="m-2 p-2 btn btn-primary" type="submit" value="Ask!">
  </form>

